<ion-header>
  <ion-toolbar color="light">
    <ion-title>Mis Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="favorites-container">
    <ng-container *ngIf="favoriteDogs.length > 0; else noFavorites">
      <app-dog-card 
        *ngFor="let dog of favoriteDogs" 
        [dog]="dog">
      </app-dog-card>
    </ng-container>
    
    <ng-template #noFavorites>
      <div class="no-favorites">
        <img src="assets/perro.png" alt="No favorites" class="no-favorites-image">
        <h3>No tienes favoritos</h3>
        <p>Marca perros como favoritos para verlos aquí</p>
        <ion-button routerLink="/tabs/tab2" expand="block" class="browse-button">
          Explorar perros
        </ion-button>
      </div>
    </ng-template>
  </div>
</ion-content>